@import "config/colors";
body.ext2-ie6 { text-align: center; }

#page {
    padding-top: 50px;
}

#page #outerContent #mainMenu {
	float: left;
	width: 180px;
	margin-right: 25px;
}

#page #outerHeader #header,
#page #outerContent #content,
#page #outerFooter #footer { width: 780px; margin: 0px auto; text-align: left; }

#page #outerHeader #header {
    background-color: $mainColor;
    height: 50px;
    font-size: 35px;
    padding-top: 7px;
    font-family: Georgia, serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
}

#page #outerContent #content { padding: 35px 0px 25px 0px; }
#page #outerContent #content #innerContent { width: 780px; }
#page #outerContent #content .withSub { width: 575px !important; }

#page #outerFooter { repeat-x top left; }
#page #outerFooter #footer { padding: 15px; height: 60px; position: relative; }
#page #outerFooter #footer p { margin-bottom: 0px; color: $darkGray; }
#page #outerFooter #footer .menu { position: absolute; width: 780px; top: 10px; }
#page #outerFooter #footer .based {
    position: absolute; right: 0; width: 400px; font-weight: bold;
}

.kwfUp-webListNone ul { margin: 0px; }
.kwfUp-webListNone,
.kwfUp-webListNone li { margin-bottom: 0px; }

.kwfUp-webForm input,
.kwfUp-webForm textarea,
.kwfUp-webForm label,
.kwfUp-webForm button,
.kwfUp-webForm select {
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: $typo;
    line-height: 18px;
}

.kwfUp-webForm label { text-align: left; }
.kwfUp-webForm .submitWrapper { margin: 10px 0px 10px 140px; }
.kwfUp-webForm button { color: $light; background: none !important; border: none !important; }
.kwfUp-webForm button:hover { color: $mainColor; }

.kwfUp-webForm .beforeButton,
.kwfUp-webForm .afterButton {
    display: block;
    float: left;
    width: 4px;
    height: 27px;
    background: url('~web/images/kwfUp-webFormButtonLeft.png') no-repeat top right;
}
.kwfUp-webForm .button {
    float: left;
    height: 27px;
    background: url('~web/images/kwfUp-webFormButtonCenter.png') repeat-x top left;
}
.kwfUp-webForm .afterButton {
    background: url('~web/images/kwfUp-webFormButtonRight.png') no-repeat top left;
}
